.sprite {
	min-height: 100px;
}
html {
	-webkit-text-size-adjust: 100%;
}
body {
	font-family: verdana;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.table {
	max-width: 100%;
	display: table;
}
.tr {
	display: table-row;
}
.td {
	display: table-cell;
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
}
.table, .td, table, td {
	border-collapse: collapse;
	font-size: 1.2em;
	vertical-align: middle;
}
.td:nth-child(2), td:nth-child(2) {
	width: 100%;
	padding-right: 10px;
}
.tr:nth-child(odd), tr:nth-child(odd) {
	background-color: lightgray;
}
.table, table {
	width: 100%;
	border-top: solid #000 4px;
}
.table .tr, table tr {
	cursor:pointer;
}
#footer {
	font-size:10px!important;
	text-align: center;
	padding-top: 40px;
}
#footer a {
	color:#000;
}
#footer a:hover {
	color: #E87600;
	text-decoration: overline underline;
}
#list-navigation {
	color:#696969;
	position:fixed;
	right:0px;
	top:0px;
	z-index:200;
	list-style: none;
	background-color: #FFF;
	border-radius: 25px;
	padding: 5px 0px 5px 0px;
	text-align: center;
}
#list-navigation p {
	margin: 0px 10px 0px 10px;
	padding: 0px;
	font-size: 0.9em;
	cursor:pointer;
}
.link {
	border-radius: 25px;
	background-color: lightgreen;
	padding: 7px;
	display: inline-block;
	margin: 5px;
}
.link a {
	color: #000;
	text-decoration: none;
}
#head, #searchwrapper {
	margin: 0px;
	padding: 0px 0px 20px 0px;
	padding-right: 38px;
}
#footer {
	padding-bottom: 10px;
}
#head, #footer {
	background-image: -webkit-linear-gradient(315deg, hsla(0, 0%, 100%, .95), rgba(174, 254, 158, .99));
	background-image: linear-gradient(135deg, hsla(0, 0%, 100%, .95), rgba(174, 254, 158, .99));
}
h1 img {
	padding-top: 5px;
}
h1, #searchwrapper {
	margin-top: 0px;
	text-align: center;
}
p {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.searchicon {
	font-size: 1.2em!important;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	transform:rotate(90deg);
	ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	color: #000;
}
#searchbutton {
	zoom: 1.7;
}
#searchinput {
	zoom: 2;
}
#searchinput, #searchbutton {
	margin: 0px;
	padding: 0px;
	width: 49%;
}
.rip td:nth-child(2){
	color: gray;
	text-decoration: line-through;
}
.extd {
	margin: 0px;
	padding: 0px 40px 0px 0px;
}
.rip span {
	font-size: 0.5em;
	color: red;
	text-decoration: none;
}
.rip img, .rip i {
	opacity: 0.5;
}
#head i {
	display: inline-block;
}
.disabled {
	color: gray;
}