.sprite {
    background-image: url(sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-accordion-kerub {
    width: 72px;
    height: 100px;
    background-position: -5px -5px;
}

.sprite-afrodite {
    width: 72px;
    height: 100px;
    background-position: -87px -5px;
}

.sprite-allhelgonakyrkan {
    width: 72px;
    height: 100px;
    background-position: -169px -5px;
}

.sprite-annehems-g_rd {
    width: 72px;
    height: 100px;
    background-position: -251px -5px;
}

.sprite-battle-at-lund-monument {
    width: 72px;
    height: 100px;
    background-position: -333px -5px;
}

.sprite-bird-tower {
    width: 72px;
    height: 100px;
    background-position: -415px -5px;
}

.sprite-bird-village {
    width: 72px;
    height: 100px;
    background-position: -497px -5px;
}

.sprite-bj_rredsparken-amfiteater {
    width: 72px;
    height: 100px;
    background-position: -579px -5px;
}

.sprite-borgarparken-fountain {
    width: 72px;
    height: 100px;
    background-position: -661px -5px;
}

.sprite-botaniska-tr_dg_rden {
    width: 72px;
    height: 100px;
    background-position: -743px -5px;
}

.sprite-dangerous-tilter {
    width: 72px;
    height: 100px;
    background-position: -825px -5px;
}

.sprite-demona-the-gargoyle {
    width: 72px;
    height: 100px;
    background-position: -5px -115px;
}

.sprite-djur-att-leka-med {
    width: 72px;
    height: 100px;
    background-position: -87px -115px;
}

.sprite-domkyrka {
    width: 72px;
    height: 100px;
    background-position: -169px -115px;
}

.sprite-eos-hallen {
    width: 72px;
    height: 100px;
    background-position: -251px -115px;
}

.sprite-energy-swing {
    width: 72px;
    height: 100px;
    background-position: -333px -115px;
}

.sprite-environmental-engineering-w {
    width: 72px;
    height: 100px;
    background-position: -415px -115px;
}

.sprite-flackarps-m_lla {
    width: 72px;
    height: 100px;
    background-position: -497px -115px;
}

.sprite-font_nen-bakom-stationen {
    width: 72px;
    height: 100px;
    background-position: -579px -115px;
}

.sprite-font_nen-vid-stadsparken {
    width: 72px;
    height: 100px;
    background-position: -661px -115px;
}

.sprite-forntid {
    width: 72px;
    height: 100px;
    background-position: -743px -115px;
}

.sprite-forrest-siluette {
    width: 72px;
    height: 100px;
    background-position: -825px -115px;
}

.sprite-fountain {
    width: 72px;
    height: 100px;
    background-position: -5px -225px;
}

.sprite-framtidsvandring {
    width: 72px;
    height: 100px;
    background-position: -87px -225px;
}

.sprite-freedom {
    width: 72px;
    height: 100px;
    background-position: -169px -225px;
}

.sprite-fyrkl_verns-tr_dg_rd {
    width: 72px;
    height: 100px;
    background-position: -251px -225px;
}

.sprite-g_md-helig-plats {
    width: 72px;
    height: 100px;
    background-position: -333px -225px;
}

.sprite-giant-lion {
    width: 72px;
    height: 100px;
    background-position: -415px -225px;
}

.sprite-golden-arch {
    width: 72px;
    height: 100px;
    background-position: -497px -225px;
}

.sprite-gunnesbo-station-norrg_ende {
    width: 72px;
    height: 100px;
    background-position: -579px -225px;
}

.sprite-hg-spaceship {
    width: 72px;
    height: 100px;
    background-position: -661px -225px;
}

.sprite-h_je_dalen {
    width: 72px;
    height: 100px;
    background-position: -743px -225px;
}

.sprite-hallands-nations-salmon {
    width: 72px;
    height: 100px;
    background-position: -825px -225px;
}

.sprite-horsey {
    width: 72px;
    height: 100px;
    background-position: -5px -335px;
}

.sprite-ideon-gateway {
    width: 72px;
    height: 100px;
    background-position: -87px -335px;
}

.sprite-inaequalis-lacus {
    width: 72px;
    height: 100px;
    background-position: -169px -335px;
}

.sprite-informationdesk-lund-east {
    width: 72px;
    height: 100px;
    background-position: -251px -335px;
}

.sprite-institutionen-f_r-psykologi {
    width: 72px;
    height: 100px;
    background-position: -333px -335px;
}

.sprite-intermodal-nexus {
    width: 72px;
    height: 100px;
    background-position: -415px -335px;
}

.sprite-kapitalet {
    width: 72px;
    height: 100px;
    background-position: -497px -335px;
}

.sprite-katt-med-blomma {
    width: 72px;
    height: 100px;
    background-position: -579px -335px;
}

.sprite-kl_tterst_llning {
    width: 72px;
    height: 100px;
    background-position: -661px -335px;
}

.sprite-kosmos-budb_rare {
    width: 72px;
    height: 100px;
    background-position: -743px -335px;
}

.sprite-litet-kapell {
    width: 72px;
    height: 100px;
    background-position: -825px -335px;
}

.sprite-lund-sk8-spot {
    width: 72px;
    height: 100px;
    background-position: -5px -445px;
}

.sprite-lund-university-main-library {
    width: 72px;
    height: 100px;
    background-position: -87px -445px;
}

.sprite-lundag_rd-fountain {
    width: 72px;
    height: 100px;
    background-position: -169px -445px;
}

.sprite-m_rke-_ke-hans {
    width: 72px;
    height: 100px;
    background-position: -251px -445px;
}

.sprite-metal-swirl {
    width: 72px;
    height: 100px;
    background-position: -333px -445px;
}

.sprite-monkey-statue {
    width: 72px;
    height: 100px;
    background-position: -415px -445px;
}

.sprite-museum-wall-art {
    width: 72px;
    height: 100px;
    background-position: -497px -445px;
}

.sprite-n_bbel_v-bridge {
    width: 72px;
    height: 100px;
    background-position: -579px -445px;
}

.sprite-narrow-slide {
    width: 72px;
    height: 100px;
    background-position: -661px -445px;
}

.sprite-netto-park {
    width: 72px;
    height: 100px;
    background-position: -743px -445px;
}

.sprite-norra-n_bel_vs-kyrka {
    width: 72px;
    height: 100px;
    background-position: -825px -445px;
}

.sprite-northern-information-plaque {
    width: 72px;
    height: 100px;
    background-position: -5px -555px;
}

.sprite-olika-stenar {
    width: 72px;
    height: 100px;
    background-position: -87px -555px;
}

.sprite-pencil {
    width: 72px;
    height: 100px;
    background-position: -169px -555px;
}

.sprite-petersg_rden {
    width: 72px;
    height: 100px;
    background-position: -251px -555px;
}

.sprite-plaskdammen {
    width: 72px;
    height: 100px;
    background-position: -333px -555px;
}

.sprite-play-boat {
    width: 72px;
    height: 100px;
    background-position: -415px -555px;
}

.sprite-qlikview-obelisk {
    width: 72px;
    height: 100px;
    background-position: -497px -555px;
}

.sprite-rinneb_cksravinen {
    width: 72px;
    height: 100px;
    background-position: -579px -555px;
}

.sprite-rosa-ansiktet {
    width: 72px;
    height: 100px;
    background-position: -661px -555px;
}

.sprite-rymdskeppet {
    width: 72px;
    height: 100px;
    background-position: -743px -555px;
}

.sprite-sankt-lars-torn {
    width: 72px;
    height: 100px;
    background-position: -825px -555px;
}

.sprite-saturnushuset {
    width: 72px;
    height: 100px;
    background-position: -5px -665px;
}

.sprite-security-man-statue {
    width: 72px;
    height: 100px;
    background-position: -87px -665px;
}

.sprite-sheet-of-power {
    width: 72px;
    height: 100px;
    background-position: -169px -665px;
}

.sprite-skorsten {
    width: 72px;
    height: 100px;
    background-position: -251px -665px;
}

.sprite-sm_lands {
    width: 72px;
    height: 100px;
    background-position: -333px -665px;
}

.sprite-small-fountain {
    width: 72px;
    height: 100px;
    background-position: -415px -665px;
}

.sprite-solbjer {
    width: 72px;
    height: 100px;
    background-position: -497px -665px;
}

.sprite-sorgen {
    width: 72px;
    height: 100px;
    background-position: -579px -665px;
}

.sprite-spyken {
    width: 72px;
    height: 100px;
    background-position: -661px -665px;
}

.sprite-square-church {
    width: 73px;
    height: 100px;
    background-position: -743px -665px;
}

.sprite-stensvamp {
    width: 72px;
    height: 100px;
    background-position: -826px -665px;
}

.sprite-strand-p_-v_gg {
    width: 72px;
    height: 100px;
    background-position: -5px -775px;
}

.sprite-swing-it {
    width: 72px;
    height: 100px;
    background-position: -87px -775px;
}

.sprite-tetra-pak-circle {
    width: 72px;
    height: 100px;
    background-position: -169px -775px;
}

.sprite-the-dead-fountain {
    width: 72px;
    height: 100px;
    background-position: -251px -775px;
}

.sprite-the-round-playground {
    width: 72px;
    height: 100px;
    background-position: -333px -775px;
}

.sprite-the-spider-web {
    width: 72px;
    height: 100px;
    background-position: -415px -775px;
}

.sprite-the-wood-throne {
    width: 72px;
    height: 100px;
    background-position: -497px -775px;
}

.sprite-toolgate {
    width: 72px;
    height: 100px;
    background-position: -579px -775px;
}

.sprite-top-of-the-hill {
    width: 72px;
    height: 100px;
    background-position: -661px -775px;
}

.sprite-totem {
    width: 72px;
    height: 100px;
    background-position: -743px -775px;
}

.sprite-tre-h_gar {
    width: 72px;
    height: 100px;
    background-position: -825px -775px;
}

.sprite-tree-of-pacifiers {
    width: 72px;
    height: 100px;
    background-position: -907px -5px;
}

.sprite-tunnelm_lning-polhem {
    width: 72px;
    height: 100px;
    background-position: -907px -115px;
}

.sprite-twin-tower-hill {
    width: 72px;
    height: 100px;
    background-position: -907px -225px;
}

.sprite-uarda-akademin {
    width: 72px;
    height: 100px;
    background-position: -907px -335px;
}

.sprite-underground-painting---lund {
    width: 72px;
    height: 100px;
    background-position: -907px -445px;
}

.sprite-utomhusscen {
    width: 72px;
    height: 100px;
    background-position: -907px -555px;
}

.sprite-vattenfigur {
    width: 72px;
    height: 100px;
    background-position: -908px -665px;
}

.sprite-victoriastadion {
    width: 72px;
    height: 100px;
    background-position: -907px -775px;
}

.sprite-vind {
    width: 72px;
    height: 100px;
    background-position: -5px -885px;
}

.sprite-wall-statue {
    width: 72px;
    height: 100px;
    background-position: -87px -885px;
}

.sprite-wallmire-cross {
    width: 72px;
    height: 100px;
    background-position: -169px -885px;
}

.sprite-water-stone {
    width: 72px;
    height: 100px;
    background-position: -251px -885px;
}

.sprite-web {
    width: 72px;
    height: 100px;
    background-position: -333px -885px;
}

.sprite-x-marks-the-spot {
    width: 72px;
    height: 100px;
    background-position: -415px -885px;
}

.sprite-yellow-horse {
    width: 72px;
    height: 100px;
    background-position: -497px -885px;
}

.sprite-_resundsv_gens-information-plaque {
    width: 72px;
    height: 100px;
    background-position: -579px -885px;
}
