<!DOCTYPE html>
<html>
<head>
	<title>#rubrik#</title>
	
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="yes" name="mobile-web-app-capable" />
	<meta content="minimum-scale=1.0, width=device-width, maximum-scale=0.6667, user-scalable=no" name="viewport" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />

<!--	<script src="library/pokemon.js" type="text/javascript"></script>	-->
	<script src="script/pokedata/mainmoves.js" type="text/javascript"></script>
	<script src="script/pokedata/quickmoves.js" type="text/javascript"></script>
	<script src="script/pokedata/elements.js" type="text/javascript"></script>
	<script type="text/javascript">
		function load(){};
		function pasteiv(element){
			document.getElementById('ivpaste').innerText = element.value;
			document.getElementById('ivpastetwo').innerText = pad (element.value, 3);
			document.getElementById('ivpastethree').innerText = pad (element.value, 3);
		};
		function chosepokemon(element){
			removeall();
			var allimg = element.parentElement.getElementsByTagName('span');
			for (var i = allimg.length - 1; i >= 0; i--) {
				if(!allimg[i].getAttribute('class')){}else{
					allimg[i].setAttribute('class', allimg[i].getAttribute('class').replace(' selected', ''));
				};
			};
			var pokemonnamn = document.getElementById('pokemonnamn');
				var pokemonnamntext = document.createTextNode(element.getAttribute('data-namn'));
				pokemonnamn.appendChild(pokemonnamntext);
			element.setAttribute('class', element.getAttribute('class') + ' selected');
			addradio(element.getAttribute('data-moves'), 'attacker', element.getAttribute('data-nummer'));
			addbeststats(element.getAttribute('data-attack'), element.getAttribute('data-defend'));
			pokemonnamn.scrollIntoView();
			addallpercent(element.getAttribute('data-nummer'));
		};
		function scrollIntoView(eleID) {
			var e = document.getElementById(eleID);
			if (!!e && e.scrollIntoView) {
				e.scrollIntoView();
			};
		};
		function addradio(array, id, index){
			var allelements = array.split('###');
			var wrapper = document.getElementById(id);
			while (wrapper.hasChildNodes()) {wrapper.removeChild(wrapper.firstChild);};
			for (var i = 0; i < allelements.length; i++){
				var attackinfo = findmoves(allelements[i]);
				var radio = document.createElement('input');
					radio.setAttribute('type', 'checkbox');
					radio.setAttribute('value', allelements[i]);
					radio.setAttribute('onclick', 'checkattacks(this);');
					radio.setAttribute('data-element', attackinfo.info.element);
					radio.setAttribute('data-type', attackinfo.type);
					radio.setAttribute('data-energi', attackinfo.info.energi);
					radio.setAttribute('data-nummer', index);
				wrapper.appendChild(radio);
				var label = document.createElement('label');
					var img = document.createElement('img');
						img.setAttribute('src', 'img/element/bilder/' + attackinfo.info.element.toLowerCase() + '.png');
					wrapper.appendChild(img);
					var labeltext = document.createTextNode(allelements[i]);
					label.appendChild(labeltext);
				wrapper.appendChild(label);
				var br = document.createElement('br');
				wrapper.appendChild(br);
			};
		};
		function addbeststats(attack, defense){
			var attackwrapper = document.getElementById('attack');
			while (attackwrapper.hasChildNodes()) {attackwrapper.removeChild(attackwrapper.firstChild);};
				var attackwrappertext = document.createTextNode('Bäst moveset för attack: ' + attack.split('###').join(', ') + '.')
				attackwrapper.appendChild(attackwrappertext);
			var defensewrapper = document.getElementById('defense');
			while (defensewrapper.hasChildNodes()) {defensewrapper.removeChild(defensewrapper.firstChild);};
				var defensewrappertext = document.createTextNode('Bäst moveset för defense: ' + defense.split('###').join(', ') + '.')
				defensewrapper.appendChild(defensewrappertext);
		};
		function addallpercent(index){
			var xmlhttp = new XMLHttpRequest();
				xmlhttp.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						var pokemondata = JSON.parse(this.responseText);
						var wrapper = document.getElementById('movepercent');
						while (wrapper.hasChildNodes()) {wrapper.removeChild(wrapper.firstChild);};
						var table = document.createElement('table');
							var tbody = document.createElement('tbody');
							var offdef = [{id: 'offense', text: 'Attack'},{id: 'defense', text: 'Defense'}];
							for (var a = 0; a < offdef.length; a++){
								var head = document.createElement('tr');
									var headbox = document.createElement('td');
										headbox.setAttribute('colspan', '3');
										headbox.setAttribute('class', 'percenthead');
										var headtext = document.createTextNode(offdef[a].text);
										headbox.appendChild(headtext);
									head.appendChild(headbox);
								tbody.appendChild(head);
								for (var i = 0; i < pokemondata[offdef[a].id].length; i++){
									var line = document.createElement('tr');
									for (var b = 0; b < pokemondata[offdef[a].id][i].length; b++){
										var box = document.createElement('td');
											if(b == 2){
												var percent = '%';
											}else{
												var percent = '';
											};
											var boxtext = document.createTextNode(pokemondata[offdef[a].id][i][b] + percent);
											box.appendChild(boxtext);
										line.appendChild(box);
									};
									tbody.appendChild(line);
								};
							};
								var linkline = document.createElement('tr');
									var linkbox = document.createElement('td');
										linkbox.setAttribute('colspan', '3');
										linkbox.setAttribute('style', 'text-align: center;');
										var link = document.createElement('a');
											link.setAttribute('href', 'https://pokemon.gameinfo.io/en/pokemon/' + pokemondata.nummer.replace(/\D/g,''));
											link.setAttribute('target', '_blank');
											var linktext = document.createTextNode('GameInfo.io');
											link.appendChild(linktext);
										linkbox.appendChild(link);
									linkline.appendChild(linkbox);
								tbody.appendChild(linkline);
							table.appendChild(tbody);
						wrapper.appendChild(table);
					};
			};
				console.log("script/pokedata/pokemon.json?spec=" + index);
				xmlhttp.open("GET", "script/pokedata/pokemon.json?spec=" + index, true);
				xmlhttp.send();
		};
		function pad (str, max) {
			str = str.toString();
			return str.length < max ? pad("0" + str, max) : str;
		};
		function checkinputs(){
			var wrapper = document.getElementById('attacker');
			var allinput = wrapper.getElementsByTagName('input');
			var quick = '';
			var main = '';
			var energy = '';
			var countelem = 0;
			for (var i = allinput.length - 1; i >= 0; i--) {
				if(!allinput[i].checked){}else{
					++countelem;
					if(allinput[i].getAttribute('data-type') == 'main'){
						var main = allinput[i].getAttribute('value');
						var energy = nummertoicon(allinput[i].getAttribute('data-energi'));
					}else if(allinput[i].getAttribute('data-type') == 'quick'){
						var quick = allinput[i].getAttribute('value');
					}else{
						console.log('Något gick fel i "seepercent();"');
					};
				};
			};
			return {"quick": quick, "main": main, "energy": energy, "countelem": countelem};
		};
		function seepercent(index){
			console.log(index);
			var checkinput = checkinputs();
			if(checkinput.countelem == 2){
				readpokemondata(checkinput, index);
			}else{
				var print = 'Ⓧ000Ⓧ';
				var threelem = document.getElementById('firstbetygwrapperthree');
					var threelemtext = document.createTextNode(print);
					threelem.appendChild(threelemtext);
			};
		};
		function readpokemondata(pokemondata, index){
			console.log(index);
			var xmlhttp = new XMLHttpRequest();
				xmlhttp.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						var checkinput = checkinputs();
						var pokemondata = JSON.parse(this.responseText);
						var print = 'Ⓧ000Ⓧ' + checkinput.energy;
						var defensescore = 0;
						for (var i = pokemondata.defense.length - 1; i >= 0; i--) {
							if(pokemondata.defense[i][0] == checkinput.quick){
								if(pokemondata.defense[i][1] == checkinput.main){
									var defensescore = parseInt(pokemondata.defense[i][2]);
								};
							};
						};
						var offensescore = 0;
						for (var i = pokemondata.offense.length - 1; i >= 0; i--) {
							if(pokemondata.offense[i][0] == checkinput.quick){
								if(pokemondata.offense[i][1] == checkinput.main){
									var offensescore = parseInt(pokemondata.offense[i][2]);
								};
							};
						};
						if(defensescore == offensescore){
							if(defensescore == 0){
								var print = 'Ⓧ000' + checkinput.energy;
							}else{
								var print = 'Ⓑ' + pad(offensescore, 3) + checkinput.energy;
							};
						};
						
						if(defensescore < offensescore){
							var print = 'Ⓐ' + pad(offensescore, 3) + checkinput.energy;
						};

						if(defensescore > offensescore){
							var print =  'Ⓓ' + pad(defensescore, 3) + checkinput.energy;
						};
						var threelem = document.getElementById('firstbetygwrapperthree');
							var threelemtext = document.createTextNode(print);
							threelem.appendChild(threelemtext);
					};
			};
				xmlhttp.open("GET", "script/pokedata/pokemon.json?spec=" + index, true);
				xmlhttp.send();
		}
		function checkattacks(element){
			seepercent(element.getAttribute('data-nummer'));
			var elementtoerase = ['firstmovepaste', 'secondmovepaste', 'energynummer', 'firstbetygwrapper', 'secondbetygwrapper', 'firstbetygwrappertwo', 'secondbetygwrappertwo', 'energynummertwo', 'firstbetygwrapperthree'];
			for (var i = elementtoerase.length - 1; i >= 0; i--) {
				var elem = document.getElementById(elementtoerase[i]);
				while (elem.hasChildNodes()) {elem.removeChild(elem.firstChild);};
			};
			var selectedimg = document.getElementsByClassName('selected')[0];
			var allcheckbox = document.getElementById('attacker').getElementsByTagName('input');
			var m = 'none';
			var q = 'none';
			for (var i = 0; i < allcheckbox.length; i++){
				if(!allcheckbox[i].checked){}else{
					var moveinfo = findmoves(allcheckbox[i].value);
					if(allcheckbox[i].getAttribute('data-type') == 'quick'){
						var wrapper = document.getElementById('firstmovepaste');
						while (wrapper.hasChildNodes()) {wrapper.removeChild(wrapper.firstChild);};
						var betygwrapper = document.getElementById('firstbetygwrapper');
						var betygwrappertwo = document.getElementById('firstbetygwrappertwo');
					}else if(allcheckbox[i].getAttribute('data-type') == 'main'){
						var wrapper = document.getElementById('secondmovepaste');
						while (wrapper.hasChildNodes()) {wrapper.removeChild(wrapper.firstChild);};
						var energynummertext = document.createTextNode(nummertoicon(allcheckbox[i].getAttribute('data-energi')));
						energynummer.appendChild(energynummertext);
						var energynummertexttwo = document.createTextNode(nummertoicon(allcheckbox[i].getAttribute('data-energi')));
						energynummertwo.appendChild(energynummertexttwo);
						var betygwrapper = document.getElementById('secondbetygwrapper');
						var betygwrappertwo = document.getElementById('secondbetygwrappertwo');
					};
					for (var a = elements.length - 1; a >= 0; a--) {
						if(elements[a].namn == allcheckbox[i].getAttribute('data-element')){
							var texttopaste = document.createTextNode(elements[a].id);
							wrapper.appendChild(texttopaste);
						};
					};
					var betygwrappertext = document.createTextNode(findmovestats(allcheckbox[i].value));
					betygwrapper.appendChild(betygwrappertext);
					betygwrappertwo.appendChild(betygwrappertext);
				};
			};
		};
		function findmovestats(name){
			var tosend = '';
			var a ='';
			var d = '';
			var selectedimg = document.getElementsByClassName('selected')[0];
			var separeradeattack = selectedimg.getAttribute('data-attack').split('###');
			for (var i = separeradeattack.length - 1; i >= 0; i--) {
				if(separeradeattack[i] == name){
					var a ='A';
				};
			};
			var separeradedefend = selectedimg.getAttribute('data-defend').split('###');
			for (var i = separeradedefend.length - 1; i >= 0; i--) {
				if(separeradedefend[i] == name){
					var d = 'D';
				};
			};
			var tosend = a + d;
			if(tosend == 'AD'){
				var tosend = 'B';
			};
			if(tosend == ''){
				var tosend = 'X';
			};
			return capitalizeFirstLetter(tosend);
		};
		function capitalizeFirstLetter(string) {
			var stringlower = string.toLowerCase();
			return stringlower.charAt(0).toUpperCase() + stringlower.slice(1);
		};
		function findmoves(name){
			var searchq = findquickmove(name);
			if(searchq == 'none'){}else{
				var q = searchq;
				var sendinfo = {"type": "quick", "info": q};
				return sendinfo;
			};
			var searchm = findmainmove(name);
			if(!searchm == 'none'){}else{
				var m = searchm;
				var sendinfo = {"type": "main", "info": m};
				return sendinfo;
			};
		};
		function findquickmove(name){
			for (var i = quickmoves.length - 1; i >= 0; i--) {
				if(quickmoves[i].namn == name){
					return quickmoves[i];
				};
			};
			return 'none';
		};
		function findmainmove(name){
			for (var i = mainmoves.length - 1; i >= 0; i--) {
				if(mainmoves[i].namn == name){
					return mainmoves[i];
				};
			};
			return 'none';
		};
		function removeall(){
			document.getElementById('ivinput').setAttribute('value', '');
			document.getElementById('ivinput').value = '0';
			var idtoremove = ['pokemonnamn', 'firstmovepaste', 'secondmovepaste', 'energynummer', 'firstbetygwrapper', 'secondbetygwrapper', 'firstbetygwrappertwo', 'secondbetygwrappertwo', 'energynummertwo'];
			for (var i = idtoremove.length - 1; i >= 0; i--) {
				var elem = document.getElementById(idtoremove[i]);
				while (elem.hasChildNodes()) {elem.removeChild(elem.firstChild);};
			};
			var allspecdoremove = [{id: 'ivpaste', text: '0'}, {id: 'ivpastetwo', text: '000'}, {id: 'firstbetygwrapperthree', text: 'Ⓧ000Ⓧ'}, {id: 'ivpastethree', text: '000'}];
			for (var i = allspecdoremove.length - 1; i >= 0; i--) {
				var specwrapper = document.getElementById(allspecdoremove[i].id);
				while (specwrapper.hasChildNodes()) {specwrapper.removeChild(specwrapper.firstChild);};
					specwrapper.appendChild(document.createTextNode(allspecdoremove[i].text));
			};
		};
		function nummertoicon(nummer){
			if(nummer == '1'){
				return '➊';
			}else if(nummer == '2'){
				return '➋';
			}else if(nummer == '3'){
				return '➌';
			}else if(nummer == '4'){
				return '➍';
			}else if(nummer == '5'){
				return '➎';
			}else if(nummer == '6'){
				return '➏';
			}else if(nummer == '7'){
				return '➐';
			}else if(nummer == '8'){
				return '➑';
			}else if(nummer == '9'){
				return '➒';
			}else if(nummer == '10'){
				return '➓';
			};
			return 'Ⓧ';
		};
		function copy(element){
			document.getElementById('copyinput').value = element.innerText;
			var copyinput = document.getElementById('copyinput');
			copyinput.focus();
			copyinput.select();
			document.execCommand("copy");
		};
		function visadolj(element){
			var wrapper = document.getElementById('info');
			if(!wrapper.getAttribute('style')){
				element.value = 'Visa information';
				wrapper.setAttribute('style', 'display: none;');
			}else{
				element.value = 'Dölj information';
				wrapper.removeAttribute('style');
			};
		};
		function hidepokemon(){
			var allimages = document.getElementById('pokemon').getElementsByTagName('span');
			for (var i = allimages.length - 1; i >= 0; i--) {
				if(allimages[i].getAttribute('data-lastevolve') == 'false'){
					allimages[i].setAttribute('style', 'display: none;');
				};
			};
		};
		function visaallapokemon(){
			var allimages = document.getElementById('pokemon').getElementsByTagName('span');
			for (var i = allimages.length - 1; i >= 0; i--) {
				allimages[i].removeAttribute('style');
			};
		};
		function visadoljpokemon(element){
			if(!element.getAttribute('data-aktive')){
				element.value = 'Visa alla Pokemon';
				element.setAttribute('data-aktive', 'sant');
				hidepokemon();
			}else{
				element.value = 'Visa bara slututvecklingar';
				element.removeAttribute('data-aktive');
				visaallapokemon();
			};
		};
		function erase(element){
			element.value = '';
		};
	</script>
	<style type="text/css">
		#ivinput, input[type=checkbox] {
			zoom: 2;
		}
		#info table, #info tr, #info td {
			margin-bottom: 20px;
			border-collapse: collapse;
			border: 1px solid #000;
			vertical-align: middle;
		}
		#firstmove, #secondmove {
			max-width: 671px;
		}
		#pokemon span, #pokemon i, #pokemon img {
			width: 64px;
			height: 64px;
			opacity: 0.4;
			display: inline-block;
		}
		#pokemon span:hover, #pokemon i:hover, #pokemon img:hover, #pokemon img.selected, #pokemon span.selected, #pokemon i.selected, #attacker img, #info img {
			opacity: 1;
		}
		#attacker img, #info img {
			width: 20px;
			height: 20px;
		}
		#copyinput {
			position: absolute;
			top:-9999px;
			left:-9999px;
		}
		thead {
			font-weight: bold;
		}
		.center, .center img {
			text-align: center;
		}
		#footer{
			font-size:10px!important;
			text-align: center;
			padding-top: 40px;
			padding-bottom: 40px;
			color:#000;
		}
		#footer a{
			color:#000;
		}
		#footer a:hover{
			color: #E87600;
			text-decoration: overline underline;
		}
		.donation{
			border-radius: 25px;
			background-color: lightgreen;
			padding: 5px;
			display: inline-block;
			margin: 5px;
			color: #000;
			cursor: pointer;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			display: flex;
			align-items: center;
			justify-content: center;
			text-decoration: none;
			max-width: 300px;
		}
		#movepercent table, #movepercent tr, #movepercent td{
			border-collapse: collapse;
			border: solid 1px #000;
		}
		.percenthead{
			font-weight: bold;
			text-align: center;
		}
	</style>
</head>
<body> <!-- onload="load();" -->
<input type="button" value="Visa bara slututvecklingar" onclick="visadoljpokemon(this)" name="">
<input type="button" value="Visa information" onclick="visadolj(this);" name="">
<div id="info" style="display: none;">
	<h1>Information</h1>
	<p>Denna applikaitonen skapades då man i samband med raids inte ser vilka attacker ens pokemon har. Visst man kan söka efter dom i nuläget, men finns inget annat sätt. Såg en kille som visade denna tekniken att koda pokemonnamnen för att ge så mycket information som det går. För att förenkla processen gjorde jag detta verktyg till mig själv för att snabbare skapa kodade namnen. Förklaring kan du läsa nedan.</p>
	<p>För er med iPhone så fungerar <a href="https://itunes.apple.com/us/app/clips-copy-paste-anywhere/id917638056?mt=8&uo=8&at=10l7an">Clips</a>, vilket är ett andra part tangentbord som sparar text som kopieras och låter användaren senare klistra in texten som i detta fallet i Pokemon GO.</p>
	<table><tr class="center"><td>B</td><td>X</td><td>➋</td><td>098</td></tr><tr><td>Gradering av snabbattacken.</td><td>Gradering av laddade attacken.</td><td>Hur mycket uppdelad energin är.</td><td>IV.</td></tr></table><table><thead><tr><td colspan="2">Graderings förklarning</td></tr></thead><tr><td>A</td><td>Bästa attack för anfallande</td></tr><tr><td>D</td><td>Bästa attack för försvarande</td></tr><tr><td>B</td><td>Bästa attack för både anfallande och försvarande</td></tr><tr><td>X</td><td>Attacken är inte den bästa</td></tr></table>
</div>
<h2>Välj Pokemon</h2>
<div id="pokemon">#pokemonhtml#</div>
<h1 id="pokemonnamn"></h1>
<h2>Välj attacker</h2>
<div id="attacker"></div>
<h2>IV</h2>
<input type="tel" id="ivinput" name="" onclick="erase(this)" onchange="pasteiv(this)" onkeyup="pasteiv(this)">
<div id="attack"></div>
<div id="defense"></div>
<div id="result" onclick="copy(this);"><h1><span id="firstmovepaste"></span><span id="secondmovepaste"></span><span id="energynummer"></span><span id="firstbetygwrapper"></span><span id="secondbetygwrapper"></span><span id="ivpaste">0</span>%</h1></div>
<div id="resulttwo" onclick="copy(this);"><h1><span id="firstbetygwrappertwo"></span><span id="secondbetygwrappertwo"></span><span id="energynummertwo"></span><span id="ivpastetwo">000</span></h1></div>
<div id="resultthree" onclick="copy(this);"><h1><span id="firstbetygwrapperthree">Ⓧ000Ⓧ</span><span id="ivpastethree">000</span></h1></div>
<input type="text" id="copyinput">
<div id="movepercent"></div>
<div id="footer">
	Information från: <a href="https://pokemon.gameinfo.io/" target="_blank">GameInfo</a> & <a href="https://pokemongo.gamepress.gg/pokemon-moves" target="_blank">GamePress</a>&nbsp;¦&nbsp;Bilder från: <a href="http://theartificial.nl/pokemonicons/" target="_blank">theartificial</a>&nbsp;¦&nbsp;2017&nbsp;©&nbsp;Mattias Måsbäck&nbsp;¦&nbsp;{<a href="https://www.teddyprojekt.se/" target="blank" alt="Länk till denna sida">www.teddyprojekt.se</a>}</div>
</div>
</body>
</html>