.sprite {
    background-image: url(sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-1 {
    width: 64px;
    height: 64px;
    background-position: -5px -5px;
}

.sprite-10 {
    width: 64px;
    height: 64px;
    background-position: -79px -5px;
}

.sprite-100 {
    width: 64px;
    height: 64px;
    background-position: -153px -5px;
}

.sprite-101 {
    width: 64px;
    height: 64px;
    background-position: -227px -5px;
}

.sprite-102 {
    width: 64px;
    height: 64px;
    background-position: -301px -5px;
}

.sprite-103 {
    width: 64px;
    height: 64px;
    background-position: -375px -5px;
}

.sprite-104 {
    width: 64px;
    height: 64px;
    background-position: -449px -5px;
}

.sprite-105 {
    width: 64px;
    height: 64px;
    background-position: -523px -5px;
}

.sprite-106 {
    width: 64px;
    height: 64px;
    background-position: -597px -5px;
}

.sprite-107 {
    width: 64px;
    height: 64px;
    background-position: -671px -5px;
}

.sprite-108 {
    width: 64px;
    height: 64px;
    background-position: -745px -5px;
}

.sprite-109 {
    width: 64px;
    height: 64px;
    background-position: -819px -5px;
}

.sprite-11 {
    width: 64px;
    height: 64px;
    background-position: -893px -5px;
}

.sprite-110 {
    width: 64px;
    height: 64px;
    background-position: -967px -5px;
}

.sprite-111 {
    width: 64px;
    height: 64px;
    background-position: -1041px -5px;
}

.sprite-112 {
    width: 64px;
    height: 64px;
    background-position: -1115px -5px;
}

.sprite-113 {
    width: 64px;
    height: 64px;
    background-position: -1189px -5px;
}

.sprite-114 {
    width: 64px;
    height: 64px;
    background-position: -1263px -5px;
}

.sprite-115 {
    width: 64px;
    height: 64px;
    background-position: -1337px -5px;
}

.sprite-116 {
    width: 64px;
    height: 64px;
    background-position: -5px -79px;
}

.sprite-117 {
    width: 64px;
    height: 64px;
    background-position: -79px -79px;
}

.sprite-118 {
    width: 64px;
    height: 64px;
    background-position: -153px -79px;
}

.sprite-119 {
    width: 64px;
    height: 64px;
    background-position: -227px -79px;
}

.sprite-12 {
    width: 64px;
    height: 64px;
    background-position: -301px -79px;
}

.sprite-120 {
    width: 64px;
    height: 64px;
    background-position: -375px -79px;
}

.sprite-121 {
    width: 64px;
    height: 64px;
    background-position: -449px -79px;
}

.sprite-122 {
    width: 64px;
    height: 64px;
    background-position: -523px -79px;
}

.sprite-123 {
    width: 64px;
    height: 64px;
    background-position: -597px -79px;
}

.sprite-124 {
    width: 64px;
    height: 64px;
    background-position: -671px -79px;
}

.sprite-125 {
    width: 64px;
    height: 64px;
    background-position: -745px -79px;
}

.sprite-126 {
    width: 64px;
    height: 64px;
    background-position: -819px -79px;
}

.sprite-127 {
    width: 64px;
    height: 64px;
    background-position: -893px -79px;
}

.sprite-128 {
    width: 64px;
    height: 64px;
    background-position: -967px -79px;
}

.sprite-129 {
    width: 64px;
    height: 64px;
    background-position: -1041px -79px;
}

.sprite-13 {
    width: 64px;
    height: 64px;
    background-position: -1115px -79px;
}

.sprite-130 {
    width: 64px;
    height: 64px;
    background-position: -1189px -79px;
}

.sprite-131 {
    width: 64px;
    height: 64px;
    background-position: -1263px -79px;
}

.sprite-132 {
    width: 64px;
    height: 64px;
    background-position: -1337px -79px;
}

.sprite-133 {
    width: 64px;
    height: 64px;
    background-position: -5px -153px;
}

.sprite-134 {
    width: 64px;
    height: 64px;
    background-position: -79px -153px;
}

.sprite-135 {
    width: 64px;
    height: 64px;
    background-position: -153px -153px;
}

.sprite-136 {
    width: 64px;
    height: 64px;
    background-position: -227px -153px;
}

.sprite-137 {
    width: 64px;
    height: 64px;
    background-position: -301px -153px;
}

.sprite-138 {
    width: 64px;
    height: 64px;
    background-position: -375px -153px;
}

.sprite-139 {
    width: 64px;
    height: 64px;
    background-position: -449px -153px;
}

.sprite-14 {
    width: 64px;
    height: 64px;
    background-position: -523px -153px;
}

.sprite-140 {
    width: 64px;
    height: 64px;
    background-position: -597px -153px;
}

.sprite-141 {
    width: 64px;
    height: 64px;
    background-position: -671px -153px;
}

.sprite-142 {
    width: 64px;
    height: 64px;
    background-position: -745px -153px;
}

.sprite-143 {
    width: 64px;
    height: 64px;
    background-position: -819px -153px;
}

.sprite-144 {
    width: 64px;
    height: 64px;
    background-position: -893px -153px;
}

.sprite-145 {
    width: 64px;
    height: 64px;
    background-position: -967px -153px;
}

.sprite-146 {
    width: 64px;
    height: 64px;
    background-position: -1041px -153px;
}

.sprite-147 {
    width: 64px;
    height: 64px;
    background-position: -1115px -153px;
}

.sprite-148 {
    width: 64px;
    height: 64px;
    background-position: -1189px -153px;
}

.sprite-149 {
    width: 64px;
    height: 64px;
    background-position: -1263px -153px;
}

.sprite-15 {
    width: 64px;
    height: 64px;
    background-position: -1337px -153px;
}

.sprite-150 {
    width: 64px;
    height: 64px;
    background-position: -5px -227px;
}

.sprite-151 {
    width: 64px;
    height: 64px;
    background-position: -79px -227px;
}

.sprite-152 {
    width: 64px;
    height: 64px;
    background-position: -153px -227px;
}

.sprite-153 {
    width: 64px;
    height: 64px;
    background-position: -227px -227px;
}

.sprite-154 {
    width: 64px;
    height: 64px;
    background-position: -301px -227px;
}

.sprite-155 {
    width: 64px;
    height: 64px;
    background-position: -375px -227px;
}

.sprite-156 {
    width: 64px;
    height: 64px;
    background-position: -449px -227px;
}

.sprite-157 {
    width: 64px;
    height: 64px;
    background-position: -523px -227px;
}

.sprite-158 {
    width: 64px;
    height: 64px;
    background-position: -597px -227px;
}

.sprite-159 {
    width: 64px;
    height: 64px;
    background-position: -671px -227px;
}

.sprite-16 {
    width: 64px;
    height: 64px;
    background-position: -745px -227px;
}

.sprite-160 {
    width: 64px;
    height: 64px;
    background-position: -819px -227px;
}

.sprite-161 {
    width: 64px;
    height: 64px;
    background-position: -893px -227px;
}

.sprite-162 {
    width: 64px;
    height: 64px;
    background-position: -967px -227px;
}

.sprite-163 {
    width: 64px;
    height: 64px;
    background-position: -1041px -227px;
}

.sprite-164 {
    width: 64px;
    height: 64px;
    background-position: -1115px -227px;
}

.sprite-165 {
    width: 64px;
    height: 64px;
    background-position: -1189px -227px;
}

.sprite-166 {
    width: 64px;
    height: 64px;
    background-position: -1263px -227px;
}

.sprite-167 {
    width: 64px;
    height: 64px;
    background-position: -1337px -227px;
}

.sprite-168 {
    width: 64px;
    height: 64px;
    background-position: -5px -301px;
}

.sprite-169 {
    width: 64px;
    height: 64px;
    background-position: -79px -301px;
}

.sprite-17 {
    width: 64px;
    height: 64px;
    background-position: -153px -301px;
}

.sprite-170 {
    width: 64px;
    height: 64px;
    background-position: -227px -301px;
}

.sprite-171 {
    width: 64px;
    height: 64px;
    background-position: -301px -301px;
}

.sprite-172 {
    width: 64px;
    height: 64px;
    background-position: -375px -301px;
}

.sprite-173 {
    width: 64px;
    height: 64px;
    background-position: -449px -301px;
}

.sprite-174 {
    width: 64px;
    height: 64px;
    background-position: -523px -301px;
}

.sprite-175 {
    width: 64px;
    height: 64px;
    background-position: -597px -301px;
}

.sprite-176 {
    width: 64px;
    height: 64px;
    background-position: -671px -301px;
}

.sprite-177 {
    width: 64px;
    height: 64px;
    background-position: -745px -301px;
}

.sprite-178 {
    width: 64px;
    height: 64px;
    background-position: -819px -301px;
}

.sprite-179 {
    width: 64px;
    height: 64px;
    background-position: -893px -301px;
}

.sprite-18 {
    width: 64px;
    height: 64px;
    background-position: -967px -301px;
}

.sprite-180 {
    width: 64px;
    height: 64px;
    background-position: -1041px -301px;
}

.sprite-181 {
    width: 64px;
    height: 64px;
    background-position: -1115px -301px;
}

.sprite-182 {
    width: 64px;
    height: 64px;
    background-position: -1189px -301px;
}

.sprite-183 {
    width: 64px;
    height: 64px;
    background-position: -1263px -301px;
}

.sprite-184 {
    width: 64px;
    height: 64px;
    background-position: -1337px -301px;
}

.sprite-185 {
    width: 64px;
    height: 64px;
    background-position: -5px -375px;
}

.sprite-186 {
    width: 64px;
    height: 64px;
    background-position: -79px -375px;
}

.sprite-187 {
    width: 64px;
    height: 64px;
    background-position: -153px -375px;
}

.sprite-188 {
    width: 64px;
    height: 64px;
    background-position: -227px -375px;
}

.sprite-189 {
    width: 64px;
    height: 64px;
    background-position: -301px -375px;
}

.sprite-19 {
    width: 64px;
    height: 64px;
    background-position: -375px -375px;
}

.sprite-190 {
    width: 64px;
    height: 64px;
    background-position: -449px -375px;
}

.sprite-191 {
    width: 64px;
    height: 64px;
    background-position: -523px -375px;
}

.sprite-192 {
    width: 64px;
    height: 64px;
    background-position: -597px -375px;
}

.sprite-193 {
    width: 64px;
    height: 64px;
    background-position: -671px -375px;
}

.sprite-194 {
    width: 64px;
    height: 64px;
    background-position: -745px -375px;
}

.sprite-195 {
    width: 64px;
    height: 64px;
    background-position: -819px -375px;
}

.sprite-196 {
    width: 64px;
    height: 64px;
    background-position: -893px -375px;
}

.sprite-197 {
    width: 64px;
    height: 64px;
    background-position: -967px -375px;
}

.sprite-198 {
    width: 64px;
    height: 64px;
    background-position: -1041px -375px;
}

.sprite-199 {
    width: 64px;
    height: 64px;
    background-position: -1115px -375px;
}

.sprite-2 {
    width: 64px;
    height: 64px;
    background-position: -1189px -375px;
}

.sprite-20 {
    width: 64px;
    height: 64px;
    background-position: -1263px -375px;
}

.sprite-200 {
    width: 64px;
    height: 64px;
    background-position: -1337px -375px;
}

.sprite-201 {
    width: 64px;
    height: 64px;
    background-position: -5px -449px;
}

.sprite-202 {
    width: 64px;
    height: 64px;
    background-position: -79px -449px;
}

.sprite-203 {
    width: 64px;
    height: 64px;
    background-position: -153px -449px;
}

.sprite-204 {
    width: 64px;
    height: 64px;
    background-position: -227px -449px;
}

.sprite-205 {
    width: 64px;
    height: 64px;
    background-position: -301px -449px;
}

.sprite-206 {
    width: 64px;
    height: 64px;
    background-position: -375px -449px;
}

.sprite-207 {
    width: 64px;
    height: 64px;
    background-position: -449px -449px;
}

.sprite-208 {
    width: 64px;
    height: 64px;
    background-position: -523px -449px;
}

.sprite-209 {
    width: 64px;
    height: 64px;
    background-position: -597px -449px;
}

.sprite-21 {
    width: 64px;
    height: 64px;
    background-position: -671px -449px;
}

.sprite-210 {
    width: 64px;
    height: 64px;
    background-position: -745px -449px;
}

.sprite-211 {
    width: 64px;
    height: 64px;
    background-position: -819px -449px;
}

.sprite-212 {
    width: 64px;
    height: 64px;
    background-position: -893px -449px;
}

.sprite-213 {
    width: 64px;
    height: 64px;
    background-position: -967px -449px;
}

.sprite-214 {
    width: 64px;
    height: 64px;
    background-position: -1041px -449px;
}

.sprite-215 {
    width: 64px;
    height: 64px;
    background-position: -1115px -449px;
}

.sprite-216 {
    width: 64px;
    height: 64px;
    background-position: -1189px -449px;
}

.sprite-217 {
    width: 64px;
    height: 64px;
    background-position: -1263px -449px;
}

.sprite-218 {
    width: 64px;
    height: 64px;
    background-position: -1337px -449px;
}

.sprite-219 {
    width: 64px;
    height: 64px;
    background-position: -5px -523px;
}

.sprite-22 {
    width: 64px;
    height: 64px;
    background-position: -79px -523px;
}

.sprite-220 {
    width: 64px;
    height: 64px;
    background-position: -153px -523px;
}

.sprite-221 {
    width: 64px;
    height: 64px;
    background-position: -227px -523px;
}

.sprite-222 {
    width: 64px;
    height: 64px;
    background-position: -301px -523px;
}

.sprite-223 {
    width: 64px;
    height: 64px;
    background-position: -375px -523px;
}

.sprite-224 {
    width: 64px;
    height: 64px;
    background-position: -449px -523px;
}

.sprite-225 {
    width: 64px;
    height: 64px;
    background-position: -523px -523px;
}

.sprite-226 {
    width: 64px;
    height: 64px;
    background-position: -597px -523px;
}

.sprite-227 {
    width: 64px;
    height: 64px;
    background-position: -671px -523px;
}

.sprite-228 {
    width: 64px;
    height: 64px;
    background-position: -745px -523px;
}

.sprite-229 {
    width: 64px;
    height: 64px;
    background-position: -819px -523px;
}

.sprite-23 {
    width: 64px;
    height: 64px;
    background-position: -893px -523px;
}

.sprite-230 {
    width: 64px;
    height: 64px;
    background-position: -967px -523px;
}

.sprite-231 {
    width: 64px;
    height: 64px;
    background-position: -1041px -523px;
}

.sprite-232 {
    width: 64px;
    height: 64px;
    background-position: -1115px -523px;
}

.sprite-233 {
    width: 64px;
    height: 64px;
    background-position: -1189px -523px;
}

.sprite-234 {
    width: 64px;
    height: 64px;
    background-position: -1263px -523px;
}

.sprite-235 {
    width: 64px;
    height: 64px;
    background-position: -1337px -523px;
}

.sprite-236 {
    width: 64px;
    height: 64px;
    background-position: -5px -597px;
}

.sprite-237 {
    width: 64px;
    height: 64px;
    background-position: -79px -597px;
}

.sprite-238 {
    width: 64px;
    height: 64px;
    background-position: -153px -597px;
}

.sprite-239 {
    width: 64px;
    height: 64px;
    background-position: -227px -597px;
}

.sprite-24 {
    width: 64px;
    height: 64px;
    background-position: -301px -597px;
}

.sprite-240 {
    width: 64px;
    height: 64px;
    background-position: -375px -597px;
}

.sprite-241 {
    width: 64px;
    height: 64px;
    background-position: -449px -597px;
}

.sprite-242 {
    width: 64px;
    height: 64px;
    background-position: -523px -597px;
}

.sprite-243 {
    width: 64px;
    height: 64px;
    background-position: -597px -597px;
}

.sprite-244 {
    width: 64px;
    height: 64px;
    background-position: -671px -597px;
}

.sprite-245 {
    width: 64px;
    height: 64px;
    background-position: -745px -597px;
}

.sprite-246 {
    width: 64px;
    height: 64px;
    background-position: -819px -597px;
}

.sprite-247 {
    width: 64px;
    height: 64px;
    background-position: -893px -597px;
}

.sprite-248 {
    width: 64px;
    height: 64px;
    background-position: -967px -597px;
}

.sprite-249 {
    width: 64px;
    height: 64px;
    background-position: -1041px -597px;
}

.sprite-25 {
    width: 64px;
    height: 64px;
    background-position: -1115px -597px;
}

.sprite-250 {
    width: 64px;
    height: 64px;
    background-position: -1189px -597px;
}

.sprite-251 {
    width: 64px;
    height: 64px;
    background-position: -1263px -597px;
}

.sprite-252 {
    width: 64px;
    height: 64px;
    background-position: -1337px -597px;
}

.sprite-253 {
    width: 64px;
    height: 64px;
    background-position: -5px -671px;
}

.sprite-254 {
    width: 64px;
    height: 64px;
    background-position: -79px -671px;
}

.sprite-255 {
    width: 64px;
    height: 64px;
    background-position: -153px -671px;
}

.sprite-256 {
    width: 64px;
    height: 64px;
    background-position: -227px -671px;
}

.sprite-257 {
    width: 64px;
    height: 64px;
    background-position: -301px -671px;
}

.sprite-258 {
    width: 64px;
    height: 64px;
    background-position: -375px -671px;
}

.sprite-259 {
    width: 64px;
    height: 64px;
    background-position: -449px -671px;
}

.sprite-26 {
    width: 64px;
    height: 64px;
    background-position: -523px -671px;
}

.sprite-260 {
    width: 64px;
    height: 64px;
    background-position: -597px -671px;
}

.sprite-261 {
    width: 64px;
    height: 64px;
    background-position: -671px -671px;
}

.sprite-262 {
    width: 64px;
    height: 64px;
    background-position: -745px -671px;
}

.sprite-263 {
    width: 64px;
    height: 64px;
    background-position: -819px -671px;
}

.sprite-264 {
    width: 64px;
    height: 64px;
    background-position: -893px -671px;
}

.sprite-265 {
    width: 64px;
    height: 64px;
    background-position: -967px -671px;
}

.sprite-266 {
    width: 64px;
    height: 64px;
    background-position: -1041px -671px;
}

.sprite-267 {
    width: 64px;
    height: 64px;
    background-position: -1115px -671px;
}

.sprite-268 {
    width: 64px;
    height: 64px;
    background-position: -1189px -671px;
}

.sprite-269 {
    width: 64px;
    height: 64px;
    background-position: -1263px -671px;
}

.sprite-27 {
    width: 64px;
    height: 64px;
    background-position: -1337px -671px;
}

.sprite-270 {
    width: 64px;
    height: 64px;
    background-position: -5px -745px;
}

.sprite-271 {
    width: 64px;
    height: 64px;
    background-position: -79px -745px;
}

.sprite-272 {
    width: 64px;
    height: 64px;
    background-position: -153px -745px;
}

.sprite-273 {
    width: 64px;
    height: 64px;
    background-position: -227px -745px;
}

.sprite-274 {
    width: 64px;
    height: 64px;
    background-position: -301px -745px;
}

.sprite-275 {
    width: 64px;
    height: 64px;
    background-position: -375px -745px;
}

.sprite-276 {
    width: 64px;
    height: 64px;
    background-position: -449px -745px;
}

.sprite-277 {
    width: 64px;
    height: 64px;
    background-position: -523px -745px;
}

.sprite-278 {
    width: 64px;
    height: 64px;
    background-position: -597px -745px;
}

.sprite-279 {
    width: 64px;
    height: 64px;
    background-position: -671px -745px;
}

.sprite-28 {
    width: 64px;
    height: 64px;
    background-position: -745px -745px;
}

.sprite-280 {
    width: 64px;
    height: 64px;
    background-position: -819px -745px;
}

.sprite-281 {
    width: 64px;
    height: 64px;
    background-position: -893px -745px;
}

.sprite-282 {
    width: 64px;
    height: 64px;
    background-position: -967px -745px;
}

.sprite-283 {
    width: 64px;
    height: 64px;
    background-position: -1041px -745px;
}

.sprite-284 {
    width: 64px;
    height: 64px;
    background-position: -1115px -745px;
}

.sprite-285 {
    width: 64px;
    height: 64px;
    background-position: -1189px -745px;
}

.sprite-286 {
    width: 64px;
    height: 64px;
    background-position: -1263px -745px;
}

.sprite-287 {
    width: 64px;
    height: 64px;
    background-position: -1337px -745px;
}

.sprite-288 {
    width: 64px;
    height: 64px;
    background-position: -5px -819px;
}

.sprite-289 {
    width: 64px;
    height: 64px;
    background-position: -79px -819px;
}

.sprite-29 {
    width: 64px;
    height: 64px;
    background-position: -153px -819px;
}

.sprite-290 {
    width: 64px;
    height: 64px;
    background-position: -227px -819px;
}

.sprite-291 {
    width: 64px;
    height: 64px;
    background-position: -301px -819px;
}

.sprite-292 {
    width: 64px;
    height: 64px;
    background-position: -375px -819px;
}

.sprite-293 {
    width: 64px;
    height: 64px;
    background-position: -449px -819px;
}

.sprite-294 {
    width: 64px;
    height: 64px;
    background-position: -523px -819px;
}

.sprite-295 {
    width: 64px;
    height: 64px;
    background-position: -597px -819px;
}

.sprite-296 {
    width: 64px;
    height: 64px;
    background-position: -671px -819px;
}

.sprite-297 {
    width: 64px;
    height: 64px;
    background-position: -745px -819px;
}

.sprite-298 {
    width: 64px;
    height: 64px;
    background-position: -819px -819px;
}

.sprite-299 {
    width: 64px;
    height: 64px;
    background-position: -893px -819px;
}

.sprite-3 {
    width: 64px;
    height: 64px;
    background-position: -967px -819px;
}

.sprite-30 {
    width: 64px;
    height: 64px;
    background-position: -1041px -819px;
}

.sprite-300 {
    width: 64px;
    height: 64px;
    background-position: -1115px -819px;
}

.sprite-301 {
    width: 64px;
    height: 64px;
    background-position: -1189px -819px;
}

.sprite-302 {
    width: 64px;
    height: 64px;
    background-position: -1263px -819px;
}

.sprite-303 {
    width: 64px;
    height: 64px;
    background-position: -1337px -819px;
}

.sprite-304 {
    width: 64px;
    height: 64px;
    background-position: -5px -893px;
}

.sprite-305 {
    width: 64px;
    height: 64px;
    background-position: -79px -893px;
}

.sprite-306 {
    width: 64px;
    height: 64px;
    background-position: -153px -893px;
}

.sprite-307 {
    width: 64px;
    height: 64px;
    background-position: -227px -893px;
}

.sprite-308 {
    width: 64px;
    height: 64px;
    background-position: -301px -893px;
}

.sprite-309 {
    width: 64px;
    height: 64px;
    background-position: -375px -893px;
}

.sprite-31 {
    width: 64px;
    height: 64px;
    background-position: -449px -893px;
}

.sprite-310 {
    width: 64px;
    height: 64px;
    background-position: -523px -893px;
}

.sprite-311 {
    width: 64px;
    height: 64px;
    background-position: -597px -893px;
}

.sprite-312 {
    width: 64px;
    height: 64px;
    background-position: -671px -893px;
}

.sprite-313 {
    width: 64px;
    height: 64px;
    background-position: -745px -893px;
}

.sprite-314 {
    width: 64px;
    height: 64px;
    background-position: -819px -893px;
}

.sprite-315 {
    width: 64px;
    height: 64px;
    background-position: -893px -893px;
}

.sprite-316 {
    width: 64px;
    height: 64px;
    background-position: -967px -893px;
}

.sprite-317 {
    width: 64px;
    height: 64px;
    background-position: -1041px -893px;
}

.sprite-318 {
    width: 64px;
    height: 64px;
    background-position: -1115px -893px;
}

.sprite-319 {
    width: 64px;
    height: 64px;
    background-position: -1189px -893px;
}

.sprite-32 {
    width: 64px;
    height: 64px;
    background-position: -1263px -893px;
}

.sprite-320 {
    width: 64px;
    height: 64px;
    background-position: -1337px -893px;
}

.sprite-321 {
    width: 64px;
    height: 64px;
    background-position: -5px -967px;
}

.sprite-322 {
    width: 64px;
    height: 64px;
    background-position: -79px -967px;
}

.sprite-323 {
    width: 64px;
    height: 64px;
    background-position: -153px -967px;
}

.sprite-324 {
    width: 64px;
    height: 64px;
    background-position: -227px -967px;
}

.sprite-325 {
    width: 64px;
    height: 64px;
    background-position: -301px -967px;
}

.sprite-326 {
    width: 64px;
    height: 64px;
    background-position: -375px -967px;
}

.sprite-327 {
    width: 64px;
    height: 64px;
    background-position: -449px -967px;
}

.sprite-328 {
    width: 64px;
    height: 64px;
    background-position: -523px -967px;
}

.sprite-329 {
    width: 64px;
    height: 64px;
    background-position: -597px -967px;
}

.sprite-33 {
    width: 64px;
    height: 64px;
    background-position: -671px -967px;
}

.sprite-330 {
    width: 64px;
    height: 64px;
    background-position: -745px -967px;
}

.sprite-331 {
    width: 64px;
    height: 64px;
    background-position: -819px -967px;
}

.sprite-332 {
    width: 64px;
    height: 64px;
    background-position: -893px -967px;
}

.sprite-333 {
    width: 64px;
    height: 64px;
    background-position: -967px -967px;
}

.sprite-334 {
    width: 64px;
    height: 64px;
    background-position: -1041px -967px;
}

.sprite-335 {
    width: 64px;
    height: 64px;
    background-position: -1115px -967px;
}

.sprite-336 {
    width: 64px;
    height: 64px;
    background-position: -1189px -967px;
}

.sprite-337 {
    width: 64px;
    height: 64px;
    background-position: -1263px -967px;
}

.sprite-338 {
    width: 64px;
    height: 64px;
    background-position: -1337px -967px;
}

.sprite-339 {
    width: 64px;
    height: 64px;
    background-position: -5px -1041px;
}

.sprite-34 {
    width: 64px;
    height: 64px;
    background-position: -79px -1041px;
}

.sprite-340 {
    width: 64px;
    height: 64px;
    background-position: -153px -1041px;
}

.sprite-341 {
    width: 64px;
    height: 64px;
    background-position: -227px -1041px;
}

.sprite-342 {
    width: 64px;
    height: 64px;
    background-position: -301px -1041px;
}

.sprite-343 {
    width: 64px;
    height: 64px;
    background-position: -375px -1041px;
}

.sprite-344 {
    width: 64px;
    height: 64px;
    background-position: -449px -1041px;
}

.sprite-345 {
    width: 64px;
    height: 64px;
    background-position: -523px -1041px;
}

.sprite-346 {
    width: 64px;
    height: 64px;
    background-position: -597px -1041px;
}

.sprite-347 {
    width: 64px;
    height: 64px;
    background-position: -671px -1041px;
}

.sprite-348 {
    width: 64px;
    height: 64px;
    background-position: -745px -1041px;
}

.sprite-349 {
    width: 64px;
    height: 64px;
    background-position: -819px -1041px;
}

.sprite-35 {
    width: 64px;
    height: 64px;
    background-position: -893px -1041px;
}

.sprite-350 {
    width: 64px;
    height: 64px;
    background-position: -967px -1041px;
}

.sprite-351 {
    width: 64px;
    height: 64px;
    background-position: -1041px -1041px;
}

.sprite-352 {
    width: 64px;
    height: 64px;
    background-position: -1115px -1041px;
}

.sprite-353 {
    width: 64px;
    height: 64px;
    background-position: -1189px -1041px;
}

.sprite-354 {
    width: 64px;
    height: 64px;
    background-position: -1263px -1041px;
}

.sprite-355 {
    width: 64px;
    height: 64px;
    background-position: -1337px -1041px;
}

.sprite-356 {
    width: 64px;
    height: 64px;
    background-position: -5px -1115px;
}

.sprite-357 {
    width: 64px;
    height: 64px;
    background-position: -79px -1115px;
}

.sprite-358 {
    width: 64px;
    height: 64px;
    background-position: -153px -1115px;
}

.sprite-359 {
    width: 64px;
    height: 64px;
    background-position: -227px -1115px;
}

.sprite-36 {
    width: 64px;
    height: 64px;
    background-position: -301px -1115px;
}

.sprite-360 {
    width: 64px;
    height: 64px;
    background-position: -375px -1115px;
}

.sprite-361 {
    width: 64px;
    height: 64px;
    background-position: -449px -1115px;
}

.sprite-362 {
    width: 64px;
    height: 64px;
    background-position: -523px -1115px;
}

.sprite-363 {
    width: 64px;
    height: 64px;
    background-position: -597px -1115px;
}

.sprite-364 {
    width: 64px;
    height: 64px;
    background-position: -671px -1115px;
}

.sprite-365 {
    width: 64px;
    height: 64px;
    background-position: -745px -1115px;
}

.sprite-366 {
    width: 64px;
    height: 64px;
    background-position: -819px -1115px;
}

.sprite-367 {
    width: 64px;
    height: 64px;
    background-position: -893px -1115px;
}

.sprite-368 {
    width: 64px;
    height: 64px;
    background-position: -967px -1115px;
}

.sprite-369 {
    width: 64px;
    height: 64px;
    background-position: -1041px -1115px;
}

.sprite-37 {
    width: 64px;
    height: 64px;
    background-position: -1115px -1115px;
}

.sprite-370 {
    width: 64px;
    height: 64px;
    background-position: -1189px -1115px;
}

.sprite-371 {
    width: 64px;
    height: 64px;
    background-position: -1263px -1115px;
}

.sprite-372 {
    width: 64px;
    height: 64px;
    background-position: -1337px -1115px;
}

.sprite-373 {
    width: 64px;
    height: 64px;
    background-position: -5px -1189px;
}

.sprite-374 {
    width: 64px;
    height: 64px;
    background-position: -79px -1189px;
}

.sprite-375 {
    width: 64px;
    height: 64px;
    background-position: -153px -1189px;
}

.sprite-376 {
    width: 64px;
    height: 64px;
    background-position: -227px -1189px;
}

.sprite-377 {
    width: 64px;
    height: 64px;
    background-position: -301px -1189px;
}

.sprite-378 {
    width: 64px;
    height: 64px;
    background-position: -375px -1189px;
}

.sprite-379 {
    width: 64px;
    height: 64px;
    background-position: -449px -1189px;
}

.sprite-38 {
    width: 64px;
    height: 64px;
    background-position: -523px -1189px;
}

.sprite-380 {
    width: 64px;
    height: 64px;
    background-position: -597px -1189px;
}

.sprite-381 {
    width: 64px;
    height: 64px;
    background-position: -671px -1189px;
}

.sprite-382 {
    width: 64px;
    height: 64px;
    background-position: -745px -1189px;
}

.sprite-383 {
    width: 64px;
    height: 64px;
    background-position: -819px -1189px;
}

.sprite-384 {
    width: 64px;
    height: 64px;
    background-position: -893px -1189px;
}

.sprite-385 {
    width: 64px;
    height: 64px;
    background-position: -967px -1189px;
}

.sprite-386 {
    width: 64px;
    height: 64px;
    background-position: -1041px -1189px;
}

.sprite-39 {
    width: 64px;
    height: 64px;
    background-position: -1115px -1189px;
}

.sprite-4 {
    width: 64px;
    height: 64px;
    background-position: -1189px -1189px;
}

.sprite-40 {
    width: 64px;
    height: 64px;
    background-position: -1263px -1189px;
}

.sprite-41 {
    width: 64px;
    height: 64px;
    background-position: -1337px -1189px;
}

.sprite-42 {
    width: 64px;
    height: 64px;
    background-position: -5px -1263px;
}

.sprite-43 {
    width: 64px;
    height: 64px;
    background-position: -79px -1263px;
}

.sprite-44 {
    width: 64px;
    height: 64px;
    background-position: -153px -1263px;
}

.sprite-45 {
    width: 64px;
    height: 64px;
    background-position: -227px -1263px;
}

.sprite-46 {
    width: 64px;
    height: 64px;
    background-position: -301px -1263px;
}

.sprite-47 {
    width: 64px;
    height: 64px;
    background-position: -375px -1263px;
}

.sprite-48 {
    width: 64px;
    height: 64px;
    background-position: -449px -1263px;
}

.sprite-49 {
    width: 64px;
    height: 64px;
    background-position: -523px -1263px;
}

.sprite-5 {
    width: 64px;
    height: 64px;
    background-position: -597px -1263px;
}

.sprite-50 {
    width: 64px;
    height: 64px;
    background-position: -671px -1263px;
}

.sprite-51 {
    width: 64px;
    height: 64px;
    background-position: -745px -1263px;
}

.sprite-52 {
    width: 64px;
    height: 64px;
    background-position: -819px -1263px;
}

.sprite-53 {
    width: 64px;
    height: 64px;
    background-position: -893px -1263px;
}

.sprite-54 {
    width: 64px;
    height: 64px;
    background-position: -967px -1263px;
}

.sprite-55 {
    width: 64px;
    height: 64px;
    background-position: -1041px -1263px;
}

.sprite-56 {
    width: 64px;
    height: 64px;
    background-position: -1115px -1263px;
}

.sprite-57 {
    width: 64px;
    height: 64px;
    background-position: -1189px -1263px;
}

.sprite-58 {
    width: 64px;
    height: 64px;
    background-position: -1263px -1263px;
}

.sprite-59 {
    width: 64px;
    height: 64px;
    background-position: -1337px -1263px;
}

.sprite-6 {
    width: 64px;
    height: 64px;
    background-position: -5px -1337px;
}

.sprite-60 {
    width: 64px;
    height: 64px;
    background-position: -79px -1337px;
}

.sprite-61 {
    width: 64px;
    height: 64px;
    background-position: -153px -1337px;
}

.sprite-62 {
    width: 64px;
    height: 64px;
    background-position: -227px -1337px;
}

.sprite-63 {
    width: 64px;
    height: 64px;
    background-position: -301px -1337px;
}

.sprite-64 {
    width: 64px;
    height: 64px;
    background-position: -375px -1337px;
}

.sprite-65 {
    width: 64px;
    height: 64px;
    background-position: -449px -1337px;
}

.sprite-66 {
    width: 64px;
    height: 64px;
    background-position: -523px -1337px;
}

.sprite-67 {
    width: 64px;
    height: 64px;
    background-position: -597px -1337px;
}

.sprite-68 {
    width: 64px;
    height: 64px;
    background-position: -671px -1337px;
}

.sprite-69 {
    width: 64px;
    height: 64px;
    background-position: -745px -1337px;
}

.sprite-7 {
    width: 64px;
    height: 64px;
    background-position: -819px -1337px;
}

.sprite-70 {
    width: 64px;
    height: 64px;
    background-position: -893px -1337px;
}

.sprite-71 {
    width: 64px;
    height: 64px;
    background-position: -967px -1337px;
}

.sprite-72 {
    width: 64px;
    height: 64px;
    background-position: -1041px -1337px;
}

.sprite-73 {
    width: 64px;
    height: 64px;
    background-position: -1115px -1337px;
}

.sprite-74 {
    width: 64px;
    height: 64px;
    background-position: -1189px -1337px;
}

.sprite-75 {
    width: 64px;
    height: 64px;
    background-position: -1263px -1337px;
}

.sprite-76 {
    width: 64px;
    height: 64px;
    background-position: -1337px -1337px;
}

.sprite-77 {
    width: 64px;
    height: 64px;
    background-position: -1411px -5px;
}

.sprite-78 {
    width: 64px;
    height: 64px;
    background-position: -1411px -79px;
}

.sprite-79 {
    width: 64px;
    height: 64px;
    background-position: -1411px -153px;
}

.sprite-8 {
    width: 64px;
    height: 64px;
    background-position: -1411px -227px;
}

.sprite-80 {
    width: 64px;
    height: 64px;
    background-position: -1411px -301px;
}

.sprite-81 {
    width: 64px;
    height: 64px;
    background-position: -1411px -375px;
}

.sprite-82 {
    width: 64px;
    height: 64px;
    background-position: -1411px -449px;
}

.sprite-83 {
    width: 64px;
    height: 64px;
    background-position: -1411px -523px;
}

.sprite-84 {
    width: 64px;
    height: 64px;
    background-position: -1411px -597px;
}

.sprite-85 {
    width: 64px;
    height: 64px;
    background-position: -1411px -671px;
}

.sprite-86 {
    width: 64px;
    height: 64px;
    background-position: -1411px -745px;
}

.sprite-87 {
    width: 64px;
    height: 64px;
    background-position: -1411px -819px;
}

.sprite-88 {
    width: 64px;
    height: 64px;
    background-position: -1411px -893px;
}

.sprite-89 {
    width: 64px;
    height: 64px;
    background-position: -1411px -967px;
}

.sprite-9 {
    width: 64px;
    height: 64px;
    background-position: -1411px -1041px;
}

.sprite-90 {
    width: 64px;
    height: 64px;
    background-position: -1411px -1115px;
}

.sprite-91 {
    width: 64px;
    height: 64px;
    background-position: -1411px -1189px;
}

.sprite-92 {
    width: 64px;
    height: 64px;
    background-position: -1411px -1263px;
}

.sprite-93 {
    width: 64px;
    height: 64px;
    background-position: -1411px -1337px;
}

.sprite-94 {
    width: 64px;
    height: 64px;
    background-position: -5px -1411px;
}

.sprite-95 {
    width: 64px;
    height: 64px;
    background-position: -79px -1411px;
}

.sprite-96 {
    width: 64px;
    height: 64px;
    background-position: -153px -1411px;
}

.sprite-97 {
    width: 64px;
    height: 64px;
    background-position: -227px -1411px;
}

.sprite-98 {
    width: 64px;
    height: 64px;
    background-position: -301px -1411px;
}

.sprite-99 {
    width: 64px;
    height: 64px;
    background-position: -375px -1411px;
}

.sprite-okand {
    width: 64px;
    height: 64px;
    background-position: -449px -1411px;
}
